<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.prj.mapper.FindMapper">
 <select id="selectIdCheck" resultType="String" parameterType="String">
	 SELECT USER_ID
	 FROM MEMBER_INFO
	 WHERE USER_ID=#{ id }
 
 </select>
 <select id="selectIdPhone" resultType="String" parameterType="kr.co.prj.vo.FindIdPhoneVO">
	 SELECT USER_ID
	 FROM MEMBER_INFO
	 WHERE USER_NAME=#{ name }  AND PHONE=#{ phone }
 
 </select>
 <select id="selectIdEmail" resultType="String" parameterType="kr.co.prj.vo.FindIdEmailVO">
	 SELECT USER_ID
	 FROM MEMBER_INFO
	 WHERE USER_NAME=#{ name }  AND EMAIL=#{ email } 
 </select>
 <select id="selectPw" resultType="String" parameterType="kr.co.prj.vo.FindPwVO">
	SELECT USER_ID
	FROM MEMBER_INFO
	WHERE USER_ID=#{ id,jdbcType=VARCHAR } AND PHONE=#{ phone ,jdbcType=VARCHAR}  AND EMAIL=#{ email,jdbcType=VARCHAR }  AND ANSWER=#{ answer,jdbcType=VARCHAR } AND HINT_CODE=#{ hint_code,jdbcType=CHAR } 
 </select>
 <update id="updatePw" parameterType="kr.co.prj.vo.UpdatePwVO">
	
	UPDATE MEMBER_INFO
	SET PASSWORD=#{ password, jdbcType=VARCHAR  }
	WHERE USER_ID=#{ id, jdbcType=VARCHAR  } 
	
 </update>
 </mapper>