<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.prj.mapper.roomMapper">
  <select id="selectRoomInfo" resultType="kr.co.prj.domain.RoomInfoDomain" parameterType="java.lang.String"> 
SELECT (SELECT BRIEF_INFO FROM CONCEPT  WHERE CONCEPT_NAME='Concept_1'), ROOM_NAME, ROOM_NAME2, INFO, BRIEF_INFO, IMAGE3,IMAGE2,IMAGE1,CONCEPT_NAME,PERSON_NUM, CHARGE
FROM ROOM_INFO WHERE CONCEPT_NAME=#{concept}
  </select>
  
   <select id="conceptBrief" resultType="kr.co.prj.domain.ConceptBriefDomain" parameterType="java.lang.String"> 
    select CONCEPT_NAME2,BRIEF_INFO
     from CONCEPT
     WHERE CONCEPT_name =#{cName}
    </select>
</mapper>
