<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.forest.dao.NoticeMapper">
<!-- 조회컬럼과  setter method를 미리 매핑 시키는 resultMap을 사용 -->
<resultMap type="kr.co.forest.domain.EmpListDomain" id="noticeListMap">
	<result column="n_num" property="num"/>
	<result column="n_subject" property="subject"/>
	<result column="n_input_date" property="input_date"/>
	<result column="n_delete_flag" property="delete_flag"/>
</resultMap>
<!-- Notice테이블에서 번호,제목,작성일,삭제플래그를 받아온다. -->
<select id="noticeList" resultMap="noticeListMap">
	SELECT N_NUM,N_SUBJECT,TO_CHAR(HIREDATE,'YYYY-MM-DD HH24:MI')HIREDATE 
	FROM CP_EMP2
	ORDER BY HIREDATE DESC
</select>

</mapper>